h1,
h2 {
  font-family: "Questrial", sans-serif;
}
p {
  font-family: "Montserrat", sans-serif;
}
.logo img {
  width: 60px;
  height: 40px;
}

.logo {
  padding: 1rem;
}

#navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background: transparent;
  position: fixed;
  top: 0;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
}

#navbar li {
  list-style-type: none;
  padding: 0 1rem;
}

#navbar a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  /* underline effect */
  text-transform: capitalize;
  display: inline-block;
  letter-spacing: 1px;
  transition: all 0.3s linear;
  position: relative;
}

#navbar a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -10px;
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: rgb(34, 32, 32);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#navbar a:hover:after {
  color: rgb(0, 0, 0);
  width: 100%;
  left: 0;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  height: 100vh;
}

#welcome-section {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.titles {
  text-align: end;
  width: fit-content;
  align-self: flex-start;
  margin-left: 8rem;
}
.titles h1 {
  color: rgb(0, 0, 0);
  font-size: 3rem;
  font-weight: bolder;
}

.subtitle {
  color: black;
  font-size: 2rem;
  font-weight: light;
}

.about-me {
  font-size: 1rem;
  width: 20rem;
  align-self: flex-end;
  margin-right: 14rem;
  margin-bottom: 10rem;
}

.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#projects h2 {
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 20px;
}

.project-tile img {
  width: 400px;
  height: 300px;
}

.description {
  color: rgb(0, 0, 0);
}

@media (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
  }
}
